<div class="container">
  <div class="hero-unit">
    <div class="row" style="text-align: center;">
      <div class="span5" >
        <h1><i class="icon-time"></i></h1>
        <a class="btn btn-primary btn-large"> anuncios recientes</a>
      </div>
      <div class="span5">
        <h1><i class="icon-book"></i></h1>
        <a class="btn btn-primary btn-large"> publica un anuncio</a>
      </div>
    </div>
  </div>
</div>