<%= render_header "Anuncios recientes" , "mira los anuncios más recientes","icon-time" %>
<div class="container">
   <div class="row">
    <div class="span3">
      <%= render "categories/categories_widget" %>
    </div>
    <div class="span8">
      <ul class="nav nav-tabs nav-stacked ads-thumbnail">
          <% @ads.each do |ad| %>


              <%= render_ad ad %>

          <% end  %>
      </ul>
    </div>
  </div>



</div>