<%= render_header "Publicar Anuncio",
                  "crea un anuncio descriptivo para lo que quieras vender o publicitar","icon-pencil" %>

<div class="container">

  <%= render 'form' %>

</div>

