<div class="row">

  <div class="span8 offset2">
    <%= form_tag "/search",:method=>"GET" , :class=> "search-box" do %>

        <h1>Busca un anuncio</h1>
        <p class="muted">Busca anuncios de libros, calculadoras, monitorias, etc.</p>
        <div class="input-append">
          <%= text_field_tag :query, nil, :class=>"input-xxlarge",:placeholder=>"buscar"  %>
          <button class="btn btn-success"> buscar!</button>
        </div>


  <% end %>
  </div>

</div>