<div class="row">

  <div class="span8 offset2 " id="search-panel">
    <%= form_tag "/search",:method=>"GET" , :class=> "search-box" do %>

        <h1>Busca un anuncio</h1>
        <p class="muted">Busca anuncios de libros, calculadoras, monitorias, etc.</p>
        <div class="input-append">
          <%= text_field_tag :query, nil, :class=>"input-xxlarge",:placeholder=>"buscar"  %>
          <button id="search" class="btn btn-success"> buscar!</button>
        </div>


    <% end %>
  </div>

</div>
<% if @ads then%>
    <hr id="hr">


    <div class="row">
      <% @ads.each do |ad| %>
          <%= render_ad ad %>
      <% end %>
    </div>

    <script>

        var n = $(document).height();
        $('html, body').animate({ scrollTop: $('#search-panel').height() },500);

    </script>

<% end %>