<% if @user.get_fb_id == 667535548 then
     icon = "icon-heart"
   else icon = "icon-user"
   end %>
<%= render_header "Mis anuncios", "aqui encuentras los anuncios que has creado",icon %>

<div class="container">
  <div class="row" >
    <div class="span8">
      <% @user.ads.each do |ad| %>
          <%= render_ad ad, true %>
      <% end %>

    </div>
    <div class="span4 text-center">
      <h1>Hola <%= @user.name %> </h1>
      <%= image_tag @user.get_fb_picture(400),:class=>"img-rounded" %>

    </div>

  </div>


</div>