// Place all the styles related to the Ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap_and_overrides.css.less";
$selectedBlue:#5f6f83;

.search-box{
  text-align: center;
  margin-top: 10%;
  p{
    font-size: 18px;
  }
  h1{
    font-size: 60px;
    text-shadow:2px 2px #FEFEFE;
    font-weight: 300;
  }
}

.controls{
  input{
    width: 210px;
  }
}



.selected{
  border: 2px solid $selectedBlue;
}

.tiny-image-link{
  @extend .thumbnail;
  float: left;
  max-height: 50px;
  img{
    max-height: 50px;
  }
}

.center-image{
  @extend .thumbnail;
  width:100%
}

