<%= render_header  "Categorias", "esta es una lista de las categorias de anuncios", "icon-tags" %>


<div class="container">


    <div class="row">
      <div class="span8">
        <%= render "categories/categories_widget" %>
      </div>

      <div class="span4">
        <%= render "widgets/helpful_links" %>
      </div>
    </div>

</div>