<a href="#" onclick="fbLogin()">
  <i class="icon-facebook-sign"></i> login
</a>
<%= render_modal "Iniciando session","login" do %>
    <h2>Iniciando session</h2>
    <p>Por favor espera unos segundos</p>
<% end %>
<script>



</script>
