<footer>
  <div class="row">
    <div class="span3">
      <h4>Quiénes somos</h4>
      <p>DOMKEE es un projecto de la <a href="http://acm.uniandes.edu.co">ACM-Uniandes</a>.
        Co-foundado por Carlos Duque y Fernando Hurtado con la ayuda de Juan Sebastian Tejada
      y <a href="http://aneu.uniandes.edu.co">ANEEU</a></p>
    </div>
    <div class="span3">
      <h4>Contribuye</h4>
      <p>Si quieres contribuir con <i>DOMKEE</i> envíanos un correo a
        acm@uniandes.edu.co con sujeto <b>DOMKEE</b> y cuentanos que te gustaría hacer. Siempre estamos abiertos a sugerencias</p>
    </div>
    <div class="span3">
      <h4>Qué es DOMKEE</h4>
      <p>DOMKEE es un lugar dónde los estudiantes pueden comprar y vender articulos que ya no utilicen como libros, batas, calculadoras, etc.</p>
    </div>
    <div class="span3">
      <h4>Contacto</h4>
      <p>Puedes contactarnos a: acm<%="<at>"%>uniandes.edu.co o a fernandohur<%="<at>"%>gmail.com</p>
    </div>
  </div>
  <div class="row">

  </div>
</footer>