<div>
  <div class="row">
    <div class="span3">
      <h4>Qué es Clasifiteca</h4>
      <p>Clasifiteca es un lugar donde estudiantes pueden comprar y vender artículos que ya no utilicen como libros, batas, calculadoras, etc.</p>
    </div>
    <div class="span3">
      <h4>Quiénes somos</h4>
      <p>Clasifiteca es un proyecto de la <a href="http://acm.uniandes.edu.co" target="_blank">ACM-Uniandes</a>.
        Co-foundado por Carlos Duque y Fernando Hurtado, con la ayuda de Juan Sebastian Tejada
      y <a href="http://aneu.uniandes.edu.co" target="_blank" >ANEU</a></p>
    </div>
    <div class="span3">
      <h4>Contribuye</h4>
      <p>Si quieres contribuir con Clasifiteca envíanos un correo a
        acm@uniandes.edu.co con sujeto <b>Clasifiteca</b> y cuéntanos que te gustaría hacer. Siempre estamos abiertos a sugerencias</p>
    </div>

    <div class="span3">
      <h4>Contacto</h4>
      <p>Puedes contactarnos en: acm@uniandes.edu.co o a fernandohur@gmail.com</p>
    </div>
  </div>
  <div class="row">

  </div>
</div>