<footer>
  <div class="row">
    <div class="span3">
      <h4>Who are we</h4>
      <p>DOMKEE is an ACM project made by students. Co-founded by arlos Duque and Fernando Hurtado</p>
    </div>
    <div class="span3">
      <h4>Contribute</h4>
      <p>If you want to contribute to <i>DOMKEE</i> send us an email
        at acm@uniandes.edu.co with subject <b>CONTRIBUTE</b> and tell us what you would like to do. We are always open for suggestions</p>
    </div>
    <div class="span3">
      <h4>What is DOMKEE</h4>
      <p>DOMKEE is a non-profit-kind-of-like-craigslist where students and regular people can post ads to
        sell or buy stuff</p>
    </div>
    <div class="span3">
      <h4>Contact us</h4>
      <p>You can contact DOMKEE using this email: acm<%= "<at>" %>uniandes.edu.co</p> or fernandohur <%= "<at>" %> gmail.com
    </div>
  </div>
</footer>