<div class="hero-unit" style="padding-top: 10px;padding-bottom: 10px;">

  <div class="container">
    <div class="row">
      <div class="span1">
        <i class="icon-3x <%= icon_name %>" style="vertical-align: bottom;"></i>
      </div>
      <div class="span11">
        <h2><%= title %> <small><%= subtitle %></small></h2>
      </div>
    </div>
  </div>
</div>

